* {
  margin: 0px;
  padding: 0px
}

.logo {
  height: 100px;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff1053;
}

.navBar a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.carrito {
  height: 50px;
}




